<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLSQGGQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- mailchimp code -->
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"907b725f631a6eccfeb91e5aa","lid":"a29abff9fd","uniqueMethods":true}) })</script>
    <!-- mailchimp code end -->

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->

    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>
