---
layout: default
---
{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="post-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 push-2 push-d-1 col-t-12 push-t-0">
      <!-- begin post -->
      <article class="post animate">
        <div class="post-head">
          <div class="post__author">
            <span>By</span>
            <a class="post__author-image" style="background-image: url({{site.baseurl}}{{site.author.avatar}})" aria-label="{{site.author.name}}'s Picture"></a> <a class="post__author-link">{{site.author.name}}</a>
          </div>
          <h1 class="post-title">{{ page.title | escape }}</h1>
          <div class="post__meta">
            {% if page.tags.size >= 1 %}
            <div class="post-tags">
              {% for tag in page.tags %}
              <a class="post-tags__tag">{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
            <span class="post__date">
              <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
            </span>
          </div>
        </div>

        <div class="post__content">
          {{ content }}
        </div>

        <div class="post__share">
          <ul class="share__list list-reset">
            <li class="share__item">
              <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="페이스북에 공유하기" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__kakao" onclick="kakaoShare();" title="카카오톡 공유하기" rel="nofollow"><i class="ion ion-ios-chatbubbles"></i></a>
            </li>

          </ul>
        </div>
      </article>
      <!-- end post -->
    </div>
  </div>
</div>

{% include related-posts.html %}

{% if site.disqus-identifier %}
<div class="container">
  <div class="row">
    <div class="col col-8 col-d-10 push-2 push-d-1 col-t-12 push-t-0">
        {% include disqus-comments.html %}
    </div>
  </div>
</div>
{% endif %}
<!-- viewcontent event -->
<script type="text/javascript">
  dataLayer.push({
  'event':'ViewContent',
  'CID': "{{page.content_id}}",
  'ContentTitle': "{{page.title}}",
  'description':'{{page.description}}',
  'image': '{{ site.github.url }}{{ page.feature }}',
  'content_url': '{{ site.url }}{{ page.url }}'
  });
</script>

{% include kakao.html %}
